<br><br>
<h2 class="page-header">New Reflection</h2>
<br>
<h3>Please don't forget to fill in every boxes below!</h3>
<form action="/books" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>