<br>
<div class="content">
    <div class="content-inner">
      <img src="logo.png" alt="logo">
      <h2>Hi there, welcome to InnerAngel 🥳</h2><br><br>
      <h5>I am so happy to see you here. I am here to protect you from your inner demons. This place is a safe space for you to let everything out that have caused you anxiety and overthinking.</h5>
      <h5>Here is a step by step guide as to how to use this app 🎉</h5>
      <p>Step 1: Create or Sign In to your account</p>
      <p>Step 2: Go Value Shopping</p>
      <p>Step 3: Add Your New Reflection</p>
      <p>Step 4: Look Back On Your Values and Reflections</p>
      <br>
        <button onclick="location.href='/register'" type="button">
          Let's get started 😈</button>

      </div>
  </div>
</div>

